.address-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.address-container h1{
    font-size: 50px;
}
.address-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
}

.address-form input{
    width: 800px;
    height: 50px;
    margin-left: 30px;
    outline: none;
    color: #616161;
    font-family: poppins;
    font-size: 16px;
}


.address-form button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}